/* the props */
@import "open-props/open-props.min.css";

/* optional imports that use the props */
@import "open-props/normalize.min.css";
@import "open-props/buttons.min.css";

/* just dark or light themes */
@import "open-props/normalize.dark.min.css";
@import "open-props/buttons.dark.min.css";
@import "open-props/normalize.light.min.css";
@import "open-props/buttons.light.min.css";

@import url("_nd-switch.css");

/* https://github.com/argyleink/gui-challenges */
:root {
  --color-brand: var(--blue-5);
  --brand-bg-gradient: linear-gradient(
    to bottom,
    var(--purple-3),
    var(--violet-3),
    var(--indigo-3),
    var(--cyan-3)
  );
}

#app {
  max-width: var(--size-md);
  margin: auto;
}
math {
  font-size: 1.2em;
}

header,
.modify-blocks,
.blocks,
dialog footer {
  display: flex;
  justify-content: center;
  padding: var(--size-3);
}

.score,
.level {
  border: none;
  background: var(--brand-bg-gradient) fixed;
  color: var(--surface-1);
  padding: 1em;
  border-radius: var(--radius-blob-1);
}
.hidden {
  display: none;
}

.title {
  background: var(--gradient-3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 1em;
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 3em;
  :is(p) {
    max-inline-size: var(--size-content-4);
  }
  :is(h1),
  :is(h2) {
    display: inline-flex;
    color: var(--color-brand);
    max-inline-size: 9ch;
    /*
    background-size: var(--size-relative-13) var(--size-relative-11);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    animation-timing-function: var(--ease-out-5); */
  }
  :is(section) {
    background-color: var(--surface-2);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-3);
  }
}

.current-info {
  padding: var(--size-3);
  line-height: var(--font-lineheight-4);
  :where(h1, h2, h3, h4, h5, h6) {
    display: inline-flex;
    margin-bottom: 1em;
  }
}

.blocks {
  flex-wrap: wrap;
  margin-bottom: var(--size-5);
  /* full width */
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.block {
  aspect-ratio: var(--ratio-square);
  inline-size: var(--size-12);
  background-color: var(--surface-2);
  border: 1px solid var(--color-brand);
  border-radius: var(--radius-3);
  box-shadow: 2px 2px 2px 1px var(--color-brand);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "type type"
    "first second"
    "value value";
  .type {
    grid-area: type;
    text-align: center;
    color: var(--color-brand);
    font: small-caps bolder var(--font-size-4) var(--font-mono);
  }
  .value {
    grid-area: value;
    text-align: center;
    font: small-caps bold var(--font-size-2) var(--font-mono);
    text-transform: lowercase;
  }
  .first {
    grid-area: first;
  }
  .second {
    grid-area: second;
  }
  .first,
  .second,
  .or,
  .and {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.second {
  cursor: crosshair;
}
.on-off {
  --nd-thumb-margin: -0.2em;
  transform: rotate(-90deg);
  font-size: 130%;
}

.operator {
  font-size: var(--size-11);
  color: var(--color-brand);
  /* nested selectors */
  &:not(.active) {
    filter: blur(5px) opacity(67%);
  }
}
.link {
  margin: 0;
  align-items: center;
  justify-content: center;
  display: none;
  &:last-child {
    display: flex;
  }
  & > .wire {
    border-top: var(--size-1) solid var(--color-brand);
    border-bottom: var(--size-1) solid var(--color-brand);
    padding: var(--size-3);
    font-family: var(--font-mono);
  }
}

/* dialog */
dialog {
  padding: 0;
  border-radius: var(--radius-3);
  height: 50vh;
  width: 80vw;
  :is(header) {
    color: var(--color-brand);
    display: flex;
    justify-content: space-between;
    padding: var(--size-3);
    background: var(--surface-2);
  }
  :is(main) {
    p {
      font-size: var(--font-size-4);
    }
    padding: var(--size-3);
  }

  svg {
    stroke: currentColor;
  }
}

/* full screen on small screens */
@media (width < 768px) {
  dialog {
    width: fit-content;
    height: fit-content;
  }
}

/* animate if user do not prefer reduced motion */
@media (prefers-reduced-motion: no-preference) {
  dialog {
    animation: var(--animation-fade-out) forwards,
      var(--animation-slide-out-down);
    animation-timing-function: var(--ease-elastic-in-out-3);
    animation-duration: 0.3s;
  }

  dialog[open] {
    animation: var(--animation-fade-in-bloom) forwards;
    animation-duration: 0.5s;
  }
}

/* end dialog */
